# === PLIKI WYNIKOWE PROJEKTU DOCKINGU ===
pdbqt_files/
output_files/
map_grid_files/
grid_dock_files/

# === LOGI ===
Docking_log_*.txt
*.log

# === PLIKI PYTHON ===
__pycache__/
*.py[cod]
*.pyo
*.pyd

# === ŚRODOWISKO WIRTUALNE ===
.venv/
venv/
env/

# === KONFIGURACJE PyCharm ===
.idea/

# === KONFIGURACJE VSCode (jeśli ktoś użyje VSCode) ===
.vscode/

# === PLIKI ŚRODOWISKOWE / SEKRETY ===
.env
